/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  /* FIN NORMALIZE */
*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  /* VARIABLE */
:root{
    --colorBleuFonce: #0065FC;
    --colorBleuClair:  #DEEBFF;
    --colorGris: #F2F2F2;
    --widthSvg: 16px;
    --borderMenu: 2px solid #F2F2F2;
    --radius: 20px;

}
/* -------------- */
html{
    color: black;
    font-family: 'raleway', sans-serif;
}
/* --------------------------SVG--------------------------- */
.btnImg svg{
    width: 15px;
  }
h3 span svg{
    width: 15px;
}
.searchVille svg{
  width: 15px;
}
.card-body svg{
  width: 15px;
}
/* ------------------------------------------------------- */
a{
      color: black;
      text-decoration: none;
  }
ul{
      list-style: none;
  }
  /* WIDTH PAGE */
div.corpDePage{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    height: max-content;
    width: 100%;
    max-width: 992px;  /*NOUVELLE LARGEUR PROJET*/
    margin-left: auto;
    margin-right: auto;
}
/* ---------------- */
/* menuHEADER */
.menuHeader img{
    width: 100px;
}
.h1Search{
    font-weight: bold;
    font-size: 16px;
}
.pSearch{
    font-size: 12px;
}
nav{
    height: 100px;
}
.menuHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuNav{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.menuNav li a{
    padding-top: 39px;
}
.menuNav li a:hover{
    color: var(--colorBleuFonce);
    border-top: 2px solid var(--colorBleuFonce);
}

/* ----------------- */
/* SECTION SEARCH */
#iconSearchSvg{
  opacity: 0;
}
.txtSearchSvg{
  margin-right: 15px;
  line-height: 45px;
}
input{
    border: none;
    font-weight: bold;
    width: 200px;
    padding-left: 20px;
}
.h1Search{
    font-size: 18px;
}
.pSearch{
    font-size: 14px;
}
.searchVille{
    border: 1px solid var(--colorGris);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    height: 45px;
    width: max-content;
    overflow: hidden;
}
.villeSubmit{
    background-color: var(--colorBleuFonce);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 120px;
}
.villeSubmit span{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.searchVille label{
    background-color: var(--colorGris);
    width: 45px;
    height: 45px;
}
.findSvg{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- */
/* SECTION FILTRE */
.filtres{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
    align-items: center;
}
.filtres-title{
  display: flex;
  line-height: 105px;
}
.filtres-title h3{
  margin-right: 30px;
}
.filtres .btnFlex{
    all: unset;
    display: flex;
    height: 45px;
    line-height: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid var(--colorGris);
}
button span.btnImg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: var(--colorBleuClair);
    width: 45px;
    height: 45px;
}
.txtFiltre{
    padding: 0 15px;
    overflow: hidden;
    font-weight: bold;
}
.btnFlex:hover{
    transition: 0.5s;
    background-color: var(--colorBleuClair);
}

/* ----------------- */

/* REPONSE RECHERCHE_________________ */
.reponse-recherche{
font-size: 12px;
}
.reponse-svg svg{
height: 15px;
padding: 1px;
/* align-items: center; */
border: var(--borderMenu);
border-radius: 1000px;
}

/* ---------------------------------- */
/* SECTION HEBERGEMENTS */
.hebergements{
    display: flex;
    column-gap: 3%;
    justify-content: space-between;
}

/* ASIDE */
.marseille{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    height: max-content;
    background-color: var(--colorGris);
    border-radius: var(--radius);
    overflow: hidden;
}
.marseille h3{
  padding: 30px 0 0 25px;
}
.marseille .showMore{
  font-weight: bold;
  padding: 25px 0 30px 25px;
}
.marseille .showMore:hover{
  color: #0065FC;
}
.responsive{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
/* --------------------------------------------------- */
.populaire{
    background-color: var(--colorGris);
    border-radius: var(--radius);
    overflow: hidden;
    width: 33%;
}
.populaire h3{
  padding: 30px 0 0 25px;
}
.responsive-pop{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-top: 15%; */
}

/* ------------------------------- */

/* CARDS HEBERGEMENTS */
.card .card-image img{
  object-fit: cover;
}
.card{
  height: 170px;
  width: 170px;
  margin: 15px;
  border: 3px solid white;
  box-shadow: 0px 0px 6px var(--colorGris);
  border-radius: var(--radius);
  overflow: hidden;
  transition: 300ms ease-in-out;
}
.card-body{
  background-color: white;
  padding: 5px;
  margin-top: -7px;
}
.card-date{
  font-size: 17px;
}
.card-title{
  font-size: 12px;
}
.card img{
  width: 170px;
  height: 100px;
}
.card:hover{
  transform: scale(1.05);
}
/* CARDS POPULAIRE */
.card-pop .card-image img{
  object-fit: cover;
}
div.card-pop{
  display: flex;
  height: 120px;
  width: 250px;
  margin: 15px;
  border: 3px solid white;
  border-radius: var(--radius);
  overflow: hidden;
  transition: 300ms ease-in-out;
}
.card-pop .card-body{
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  padding: 10px;
}
.card-date{
  font-size: 16px;
}
.card-title{
  font-size: 12px;
}
.card-pop img{
  width: 100px;
  height: 120px;
}
.card-pop:hover{
  transform: scale(1.05);
}
.card-pop .card-stars {
/* -------------------------------------------ETOILE A METTRE EN FLEX END ?????---------------------------- */
  /* align-items: flex-end; */
  flex-grow: 1;                             
  /* padding-top: 25%; */
}
/* ---------------------------------------------------------------------------------------- */
.titlePop{
  display: flex;
  justify-content: space-between;
}
.titlePop>span{
  padding-right: 35px;
}
.reponse-recherche{
  display: flex;
  gap: 1%;
  margin-bottom: 30px;
}
.starList{
  display: flex;
  align-items: flex-end;
}
/* -----------------------ACTIVITES------------------------ */
#activite{
  font-size: 15px;
  font-weight: 900;
  margin: 45px 0 0px 0;
}
.activite-flex{
  display: flex;
  gap: 4%;
}
.card-acti img{
  width: 250px;
  height: 150px;
  margin-top: 15px;
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* box-shadow: 0px 0px 3px rgb(170, 167, 167); */
}

img.img-seule{
  max-height: 100%;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
}
/* FIN PLACEMENT FLEX */
.card-title-acti{
  padding: 20px 0 15px 15px;
  height: 50px;
  margin-top: -10px;
  font-size: 10px;
  box-shadow: 0px 0px 6px rgb(194, 194, 194);
  background-color: #fff;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
/* HAUTEUR DIV GROUPE */
.groupe>.card-acti:nth-child(2) .card-image-acti{
  height: 110px;
  overflow: hidden;
}
.groupe2>.card-acti:nth-child(1) .card-image-acti{
  height: 125px;
  overflow: hidden;
  object-position: 50% 70%;
}
.groupe2>.card-acti:nth-child(2) .card-image-acti{
  height: 127px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
/* ----------------------------IMAGE LARGEUR----------------------- */

img.image-double{
  max-height: 100%;
  max-width: 100%;
  object-position: 50% 30%;
  overflow: hidden;
}

/* ---------------------------------------------------------------- */
/* HOVER---------------- */
.card-acti{
  transition: 300ms ease-in-out;
}
.card-acti:hover{
  transform: scale(1.05);
}
/* -------------------------------------------------------------------- */
footer{
  background-color: var(--colorGris);
}
.footer{
  margin: auto;
  width: 992px;
  font-size: 14px;
  margin-top: 50px;
  background-color: var(--colorGris);
  display: flex;
  justify-content: space-between;
  gap: 15%;
  padding-bottom: 20px;

}
.footer-nav{
  display: flex;
  flex-direction: column;
}
.footer-nav a:hover{
  color: var(--colorBleuFonce);
}
footer a,h4{
  padding: 10px;
}

/* --------------------------------------------------------MEDIA QUERIES-------------------------------------------------------- */

/* -----------PHONE----------- */

/* NAV--------------- */
@media (max-width: 450px){
  /* footer{
    display: none;
  } */
  .corpDePage{
    width: 450px;
  }
  .reponse-txt{
    font-size: 18px;
  }
  .reponse-svg svg{
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
  }
  .menuHeader{
    display: flex;
    flex-direction: column;
  }
  .h1Search{
    width: 80%;
    font-size: 22px;
    font-weight: 900;
    text-align: justify;
  }
  p.pSearch{
    font-size: 17px;
    margin-bottom: 30px;
  }
  .menuNav{
    justify-content: center;
    /* gap: 25%; */
    width: 100%;
  }
  .menuNav li{
    text-align: center;
    width: 200px;
    margin: auto -20px;
  }
  .menuNav li:not(:hover){
    border-bottom: 3px solid var(--colorGris);
    padding-bottom: 10px;
    text-align: center;
    
  }
  .menuNav li:hover{
    color: var(--colorBleuFonce);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--colorBleuFonce);
    border-top: none;
}
.menuNav li a:hover{
    border-top: none;
}
/* -----------------------------------------------FIN NAV------------------------------ */
/* SECTION SEARCH------------------------------------------- */
.txtSearchSvg{
  opacity: 0;
}
#iconSearchSvg{
  opacity: 1;
  padding: 30px;
}
#iconSearchSvg svg{
  width: 20px;
  max-height: 100%;
  margin-left: 95px;
  max-width: 100%;
}
.searchVille{
  margin: 10px 5px;
}
.villeSubmit{
  width: 50px;
  border-radius: 10px;
}
/* --------------------------------------------------------- */
/* ----------------FILTRE---------------------------------- */
.filtres{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  align-content: baseline;
}
.filtres-title{
  display: block;
  margin: 0 5px;
}
.filtres-title h3{
  height: 50px;
  line-height: 100px;
}
.btnImg svg{
  width: 20px;
}
.txt-filtre-mobil{
  font-size: 18px;
}
.reponse-recherche{
  margin-top: 20px;
}
/* -------------------------------------------------------- */
/* HEBERGEMENT PHONE---------------------------------------------------------- */
.hebergements{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: max-content; */
}
/* ASIDE MARSEILLE---------------------------------- */
.marseille{
  background-color: white;
  width: 100%;
  order: 2;
}
.card{
  max-height: 100%;
  width: 350px;
  height: 190px;
}
.card img{
  width: 350px;
}
.card-body h6{
  font-size: 16px;
}
.card-body p{
  font-size: 14px;
}
.showMore{
  margin-top: 100px;
  font-weight: bold;
}
/* ASIDE POPULAIRE-------------------------------- */
.populaire{
  order: 1;
  border-radius: 0;
  width: 100%;
}
div.card-pop{
  width: 350px;
  height: 150px;
  max-height: 100%;
}
.card-pop img{
  width: 150px;
  height: 150px;
}
ul.starList-pop{
  padding-top: 40px;
}
ul.star-list-bug{
  padding-top: 35px;
}
.titlePop span svg{
  width: 25px;
}
/* --------------------------------------------------------- */
/* ASIDE ACTIVITES------------------------------------------ */
.activite-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-acti{
  width: 350px;
  max-height: 100%;
}
.card-acti img{
  width: 350px;
  height: 150px;
}
img.image-double{
  object-position: 50%;
}
.card-title-acti h3{
  font-size: 15px;
}
/* -------------------------------------------------------- */
/* -----------------------------------FOOTER---------------------------- */
.footer{
  display: flex;
  flex-direction: column;
}
.footer-nav{
  margin: 15px;
}
}
/* ---------------------------------FIN MOBILE QUERIES------------------ */

/* --------------------------MEDIA QUERIES TABLETTE--------------------- */
@media (max-width: 770px){

  .corpDePage{
    width: 100%px;
  }
  .reponse-txt{
    font-size: 18px;
  }
  .reponse-svg svg{
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
  }
  .menuHeader{
    display: flex;
    flex-direction: column;
  }
  .h1Search{
    width: 80%;
    font-size: 22px;
    font-weight: 900;
    text-align: justify;
  }
  p.pSearch{
    font-size: 17px;
    margin-bottom: 30px;
  }
  .menuNav{
    justify-content: center;
    /* gap: 25%; */
    width: 100%;
  }
  .menuNav li{
    text-align: center;
    width: 200px;
    margin: auto -20px;
  }
  .menuNav li:not(:hover){
    border-bottom: 3px solid var(--colorGris);
    padding-bottom: 10px;
    text-align: center;
    
  }
  .menuNav li:hover{
    color: var(--colorBleuFonce);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--colorBleuFonce);
    border-top: none;
}
.menuNav li a:hover{
    border-top: none;
}
/* -----------------------------------------------FIN NAV------------------------------ */
/* SECTION SEARCH------------------------------------------- */
.txtSearchSvg{
  opacity: 0;
}
#iconSearchSvg{
  opacity: 1;
  padding: 30px;
}
#iconSearchSvg svg{
  width: 20px;
  max-height: 100%;
  margin-left: 95px;
  max-width: 100%;
}
.searchVille{
  margin: 10px 5px;
}
.villeSubmit{
  width: 50px;
  border-radius: 10px;
}
/* --------------------------------------------------------- */
/* ----------------FILTRE---------------------------------- */
.filtres{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  align-content: baseline;
}
.filtres-title{
  display: block;
  margin: 0 5px;
}
.filtres-title h3{
  height: 50px;
  line-height: 100px;
}
.btnImg svg{
  width: 20px;
}
.txt-filtre-mobil{
  font-size: 18px;
}
.reponse-recherche{
  margin-top: 20px;
}
/* -------------------------------------------------------- */
/* HEBERGEMENT PHONE---------------------------------------------------------- */
.hebergements{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: max-content; */
}
/* ASIDE MARSEILLE---------------------------------- */
.marseille{
  background-color: white;
  width: 100%;
  order: 2;
}
.card{
  max-height: 100%;
  width: 450px;
  height: 280px;
}
.card img{
  width: 450px;
 height: 190px;
}
.card-body h6{
  font-size: 16px;
}
.card-body p{
  font-size: 14px;
}
.showMore{
  margin-top: 180px;
  font-weight: bold;
}
/* ASIDE POPULAIRE-------------------------------- */
.populaire{
  order: 1;
  border-radius: 0;
  width: 100%;
}
div.card-pop{
  width: 450px;
  height: 150px;
  max-height: 100%;
}
.card-pop img{
  width: 250px;
  height: 150px;
}
ul.starList-pop{
  padding-top: 40px;
}
ul.star-list-bug{
  padding-top: 35px;
}
.titlePop span svg{
  width: 25px;
}
/* --------------------------------------------------------- */
/* ASIDE ACTIVITES------------------------------------------ */
.activite-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-acti{
  width: 450px;
  max-height: 100%;
}
.card-acti img{
  width: 450px;
  height: 150px;
}
img.image-double{
  object-position: 50%;
}
.card-title-acti h3{
  font-size: 15px;
}
/* -------------------------------------------------------- */
/* -----------------------------------FOOTER---------------------------- */
.footer{
  display: flex;
  flex-direction: column;
}
.footer-nav{
  margin: 15px;
}
}